@font-face {
    font-family: 'Lobster';
    src: url(../../../fuentes/Lobster-Regular.ttf);
}

.lobster{
    font-family: 'Lobster';
}

@font-face {
    font-family: 'OpenSans';
    src: url(../../../fuentes/OpenSans-Regular.ttf);
}

.opensans{
    font-family: 'OpenSans';
}