body{
    margin: 0;

    background-image: url(/imagenes/foto_fondo.jpg);
    background-size: cover;
    background-position: center;
}

header{
    background-color: rgb(49, 49, 49);
    padding: 10px;   
    width: 100%;
    height: 50px;
}

header .logo{
    width: 50px;
    float: inline-start;
    padding-left: 10px;
    padding-right: 200px;

}

header .links{
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header ul{
    list-style: none;
    display: flex;

}

header ul li a {
    
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding-top: 27px;
    padding-bottom: 23px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
}
header ul li a:hover {
    text-decoration: none;
    color: #00abf0;
    padding-top: 27px;
    padding-bottom: 23px;
    padding-right: 30px;
    padding-left: 30px;
}
header ul li a.active{
    color: #00abf0;
}


.inici{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}
.inici-container{
    max-width: 600px;
}

.inici-container h1{
    font-size: 56px;
    font-weight: 700;
}

.inici-container h3{
    font-size: 32px;
    font-weight: 700;
}

footer{
    text-align: center;
    bottom: 0px;
    width: 100%;
    justify-content: space-between;
}

footer .enllaços a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 20px;
    color: #00abf0;
    text-decoration: none;

}
footer .enllaços p{
    float: left;
    padding-left: 50px;
    padding-top: 10px;
}

.informacio{
    display: flex;
    justify-content: center;
    width: 800px;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    padding-bottom: 100px;
}

.informacio table td{
    border: 1px solid #00abf0;
}